.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.4rem;
  row-gap: 6.2rem;

  width: 100%;
}

@media (max-width: 74em) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 48em) {
  .card-list {
    grid-template-columns: 1fr;
  }
}